.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #4a4a53, rgb(53, 53, 65));
    
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    padding-left: 0;
    list-style: none;
    color: white;
    margin: 4px 0 0 0;
    display: flex;
    align-items: center;
}

.header__navbar-item {
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-icon {
    margin: 0 4px;
    font-size: 1.8rem;
}
.header__navbar-icon-link {
    color: #fff;
    text-decoration: none;
}

.header__navbar-item-link {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
}
.header__navbar-item-link:hover,
.header__navbar-item:hover {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}
.header__navbar-item--strong {
    font-weight: 600;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #ccc;
    height: 14px;
    top: 26%;
    right: -9px;
}

.header__navbar-item,
.header__navbar-icon-link,
.header__navbar-item-link {
    display: inline-flex;
    align-items: center;
}

#title--no-pointer {
    cursor: text;
    color: #fff !important;
}

.header__navbar-icon:hover {
    opacity: 0.8;
}

/* header QR CODE */

.header__qr {
    background-color: #fff;
    width: 186px;
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 4px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 10;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    
    left: 0;
    top: -8%;
}

.header__qr-appear:hover .header__qr {
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-download {
    height: 16px;
}

.header__qr-link:nth-child(1)  {
    margin-left: 11px;
}

.header__qr-link:nth-child(2)  {
    margin-right: 11px;
}

/* end header-qr */


/* notify */

.header__notify {
    width: 404px;
    position: absolute;
    right: 0;
    top: 118%;
    background-color: #fff;
    border: 1px solid #d1b3b3;
    cursor: default;
    transform-origin: top right;
    animation: fadeIn ease-in 0.2s;
    display: none;
    box-shadow: 0 0 8px #333;
    z-index: 10;
    border-radius: 3px;
}
.header__notify::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -28px;
    right: 4px;
}
.header__notify::after {
    content: "";
    position: absolute;
    top: -16px;
    right: 0;
    width: 100px;
    height: 12px;
    
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__notify-header {
    /* height: 40px; */
    background-color: #fff;
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}
.header__notify-list {
    padding-left: 0;

}

.header__notify-item {
    display: flex;
    
}


.header__notify-link {
    display: flex;
    align-items: center;
    padding: 12px;
    text-decoration: none;
    background-color:rgba(53, 53, 65, 0.1) ;
    width: 100%;
}

.header__navbar-sub {
    position: absolute;
    top: 120%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 8px #333;
    display: none;border-radius: 4px;
    z-index: 10;
}
.header__navbar--lange {
    position: relative;
   
}
.header__navbar-sub::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 20px;
    top: 70%;
    left: 0;
    
}
.header__navbar-sub::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -28px;
    right: 4px;
}


.header__navbar-col {
    width: 180px;
    height: var(--header-with-search-height);
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 16px;
}
.header__navbar-item--has-language:hover .header__navbar-sub {

    display: block;
}
.header__navbar-language {
    color: black;
    line-height: 44px;
    font-size: 1.6rem;
}

.header__navbar-language:hover {
    color: #e10747;;
   
}
.ti-angle-down {
    font-size: 1.2rem;
    padding-left: 4px;
}
.header__notify-link:hover {
    background-color:rgb(217, 217, 233) ;
    
}


.header__notify-img {
    width: 48px;
    height: 36px;
}

.header__notify-info {
    margin-left: 12px ;
}

.header__notify-name {
    display: block;
    font-size: 14px;
    line-height: 1.6rem;
    color: black;
    font-weight: 600;
}

.header__notify-desc {
    display: block;
    font-size: 12px;
    color: #756F6E;
    margin-top: 4px;
    line-height: 1.6rem;
}

.header__notify-footer-btn {
    text-decoration: none;
    color:black;
    display: block;
    padding: 8px;
}

.header__notify-footer {
    /* padding: 8px; */
    text-align: center;
    /* display: none; */
}

/* Header-with-search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 140px;
}
.header__logo-link {
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
}

.header__search {
    background-color: white;
    height: 40px;
    flex: 1;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.header__mobile-search {
    padding: 0 12px;
    /* display: none; */
}

.header__mobile-search-icon {
    font-size: 2.2rem;
    color: white;
}

.header__cart {
    width: 150px;
    text-align: center;
    position: relative;
}
.header__cart-list {
    position: absolute;
    top: 128%;
    right: 48px;
    background-color: #fff;
    width: 390px;
    border-radius: 3px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    display: none;animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}
.header__cart-icon-all {
    display: inline-block;
    cursor: pointer;
    padding: 2px 8px;
}
.header__cart-icon-all:hover .header__cart-list {
    display: block;
    
}
.header__user-icon {
    width: 42px;
    height: 26px;
    cursor: pointer;
    position: relative;
}
.header__user-icon p {
    /* background-color: yellow; */
    font-size: 1.4rem;
    text-align: center;
    color: white;
}

.user-text {
    position: absolute;
    top: 40%;
    left: 5%;
}
.header__user-icon i {
    color: white;
    font-size: 1.8rem;
    padding: 2px 8px;
}

/* mobile login */
.header__login-mobile {
    position: absolute;
    background-color: white;
    z-index: 1;
}

.header__login-mobile-list {
    margin: 0;
    padding: 0;
}
.header__login-mobile-item {
    color: black;
}






/* end mobile login */

.header__cart-list::after {
    content: "";
    position: absolute;
    cursor: pointer;
    right: 8px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid ;
    border-color: transparent transparent #fff transparent;

}
.header__cart-no-cart-sub {
    display: block;
    font-size: 1.4rem;
    margin-top: 12px;
    cursor: text;
}

.header__cart-list--no-cart {
    padding: 28px 0;
    z-index: 10;
}

.header__cart-no-cart-img {
    width: 80%;
    
}

.header__cart-icon {
    color: white;
    font-size: 2.6rem;
}
.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding: 0 18px;
    border-radius: 4px;
    flex: 1;
}

.header__search-btn {
    background-color:rgb(53, 53, 65) ;
    border: none;
    height: 36px;
    width: 64px;
    margin-right: 2px;
}
.header__search-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}
.header__search-btn-icon {
    font-size: 1.6rem;
    color: #fff;
    
}

/* login */
    .auth-form.auth-form1.open {
        display: block;
    }

    .auth-form.auth-form2.open {
        display: block;
    }



/* end login */


/* header__sort-bar */
.header__sort-bar {
    position: fixed;
    
    left: 0;
    right: 0;
    height: var( --header-sort-bar-height);
    background-color: white;
    
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #fa6969;
    border-bottom: 1px solid #f55f5f;
    display: none;
}

.header__sort-item {
    flex: 1;
    
}
/* header user */
.header__user--container,
.header__user {
    margin-right: 24px;
    background-color: #ffffff;
    width: 44px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}

.header__user i {
    font-size: 2.2rem;
    color: #706d6a;
    transform: translateY(3px);
}
.user-login {
    background-color: rgb(255, 255, 255);
    display: none;
    padding-left: 0;
    width: 200px;
    /* height: 20vh; */
    position: absolute;
    z-index: 1;
    top: 115%;
    box-shadow: 0 1px 4px #ccc;
    border-radius: 4px;
    cursor: pointer;
    animation:  User1 linear 0.3s;
}

.user-login.user__open {
    display: block;
}
.user-login-list {
    padding-left: 0;
    margin: 0;
}

.user-login-item {
    list-style: none;
    font-size: 1.4rem;
}
.user-login-item:hover {
    background-color: #fa6969;
    border-radius: 4px;
    cursor: pointer;
}

@keyframes User1 {
    from {
        transform: translateY(-300%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}




/* end header user */
.header__sort-item:first-child .header__sort-link::before {
    display: none;
}

.header__sort-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
    display: block;
    height: 100%;
    line-height: var( --header-sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-link::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #ccc;
    transform: translateY(-50%);
}
.header__sort-item--active .header__sort-link {
    color: rgb(194, 0, 39);
}


/* search-history */
.header__search-input:focus ~ .header__search-history {
    display: block;
}
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    background-color: #fff;
    width: calc(100% - 16px);
    border-radius: 4px;
    box-shadow: 0 1px 6px #888;
    display: none;
    z-index: 9;
}

.header__search-history-list {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 18px;
    
    cursor: pointer;
}
.header__search-history-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.header__search-history-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.header__search-history-item:hover {
    background-color: rgb(224, 224, 224);
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #333;
    line-height: 38px;
    width: 100%;
    display: block;
}


/* authen MODAL */

.auth-form {
    width: 500px;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    display: none;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 500;
}

.auth-form__switch-btn {
    color: #e10747;
    font-size: 1.6rem;
    font-weight: 600;
}

.auth-form__switch-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.auth-form__form {
    margin-top: 16px;
}

.auth-form__input {
    width: 100%;
}

.auth-form__input {
    height: 40px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
}


.auth-form__input--space {
    margin: 16px 0;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form--login {
    display: flex;
    justify-content: flex-end;
}


.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: center;
    padding: 0 10px;
}

.auth-form__text-link {
    text-decoration: none;
    color: #e10747;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__social {
    background-color: #F5F5F5;
    padding: 14px 36px;
    display: flex;
    justify-content: space-between;
}

.auth-form__social-icon {
    font-size: 1.8rem;
}
.auth-form__social--facebook {
    background-color: #3A5A98;
    color: #fff;
}
.auth-form__social--facebook .auth-form__social-icon {
    color: #fff;

}

.auth-form__social--apple {
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0 8px;
}

.auth-form__social--apple .auth-form__social-icon {
    color: rgb(255, 255, 255);
}

.auth-form__social--google .auth-form__social-icon {
    color: rgb(219, 20, 20);
}

.auth-form__social--google > .auth-form__social-title {
    color: black;
}

.auth-form__social-title {
    margin: 0 24px;
}
.auth-form__policy-help {
    display: flex;
    font-size: 1.3rem;
}

.auth-form__policy--separate {
    display: block;
    border-right: 1px solid #ccc;
    height: 20px;
    margin: 0 12px;
}

.IFLxoy {
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
}
.IFLxoy--left {
    height: 1px;
    width: 100%;
    background-color: #dbdbdb;
    flex: 1;    
}
.IFLxoy--right {
    height: 1px;
    width: 100%;
    background-color: #dbdbdb;
    flex: 1;
}
.IFLxoy--title {
    color: rgb(143, 141, 141);
    padding: 0 1.6rem;
    text-transform: uppercase;
    font-size: 1.4rem;
}





/* CONTAINER */

.app__container {
    background-color: #f5f5f5;
}
.app__content {
    padding-top: 36px;
}
.category {
    background-color: #fff;
    border-radius: 3px;
    padding-bottom: 10px;
}

.category__heading {
    font-size: 1.8rem;
    font-weight: 550;
    padding: 12px 16px;
    margin-top: 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.4);
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 8px;
}

.category-list {
    padding-left: 0 ;
    list-style-type: none;
    margin-left: 10px;
}
.category-item {
    position: relative;
}
.category-item.category-item--active::before {
    display: none;
}

.category-item::before {
    position: absolute;
    content: "";
    left: 16px;
    right: 16px;
    top: 0;
    border-top: 1px solid #adadad;
}

.category-item--active .category-item__link {
    color: #e10747;;
}
.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent #e10747;;
    top: 50%;
    left: 8px;
    transform: translateY(calc(-50% - 1px));
}

.category-item__link {
    position: relative;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    font-size: 1.4rem;
    padding: 8px 16px;
    display: block;
    /* text-transform: uppercase; */
    font-weight: 600;
    right: 0;
    transition: right linear 0.2s;
}
.category-item__link:hover {
    color: #e10747;
    right: -4px;
}
    /* Filter */
.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 3px;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}
.home-filter__page {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: rgb(78, 78, 78);
    margin-right: 22px;
}

.home-filter__page-current {
    color:#d60544;
}

.home-filter__page-btn {
    flex: 1;
    background-color: white;
    width: 36px;
    display: flex;
    height: 36px;
    text-decoration: none;
}
.home-filter__page-btn:first-child {
    border-right: 1px solid #EEEEEE;
}
.home-filter__page-control {
    border-radius: 3px;
    overflow: hidden;
    display: flex;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.3rem;
    color: #555;
}

.home-filter__page-btn--disable {
    background-color: #f9f9f9f9;
    
    cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-icon {
    color: #ccc;
}

.mobile-category {

}

.mobile-category__list {
    display: flex;
    padding-left:0 ;
    list-style: none;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    width: 100px;
    height: 40px;
    /* overflow: hidden; */
    display: block;
    /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; */
    background-color: #7fa1d1;
    border-radius: 8px;
    font-weight: 300;
    user-select: none;
    /* -webkit-tap-highlight-color: transparent; */
}


/* product */
.home-product {
    margin-bottom: 10px;
}
.home-product-item {
    background-color: #fff;
    margin-top: 10px;
    display: block;
    text-decoration: none;
    position: relative;
    border: 3px;
    box-shadow: 0 0.2rem 0.3rem 0 rgb(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}
.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 22px rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
   
}
.home-product__pagination {
    margin-top: 50px;
    margin-bottom: 32px;
    padding-left: 0;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(77, 77, 77);
    line-height: 1.8rem;
    margin: 10px 10px 8px;
    /* height: 3.6rem;
    overflow: hidden; */
}

.home-product-item__price {
    display: flex;
    
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: rgb(255, 0, 0);
    margin-left: 6px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__like {
    font-size: 1.3rem;
}

i.home-product-item__like-icon-fill {
    color: red;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 0.8rem;
    
    
}

.star--glow {
    color: #ee4d2d;
}

.star--dark {
    color: rgb(141, 141, 141);
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 8px 6px 0 ;
}

.home-product-item__brand {
    color: #595959;
    font-size: 1.2rem;
}

.home-product-item__orgin-name {
    color: #595959;
    font-size: 1.2rem;

}

.home-product-item__favourite {
    position: absolute;
    top: 182px;
    right: -4px;
    background-color: #de0000;
    color: white;
    padding-right: 6px;
    
}
.home-product-item__favourite::after {
    content: "";
    position: absolute;
    border-top: 8px solid #990101;
    border-right: 4px solid transparent;
    right: 0px;
    bottom: -8px;
}
.home-product-item__favourite i {
    font-size: 0.9rem;
    margin: 0 3px 0 5px;
}

.home-product-item__sale-off {
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 36px;
    background-color: #fff309;
    text-align: center;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -6px;
    border-width: 0 18px 6px;
    border-style: solid;
    border-color: transparent #fff309 transparent #fff309;
}

.home-product-item__sale-off-percent {
    color: #e10747;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2rem;
}

.home-product-item__sale-off-label {
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: #e10747;
    font-weight: 600;
}    



/* FOOTER */
.footer {
    border-top: 4px solid #c0073f;
    background-color: #7a7a7a;
   
}

.footer__heading {
    font-size: 1.4rem;
    color: white;
    position: relative;
}

.footer__heading::before {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 105px;
    height: 1px;
    background-color: #fff;
}
.footer-list--all {
    background-color: white;
    padding: 5px 5px 5px 10px;
    border-radius: 10px;
}
.footer-item__top {
    margin-top: 0;
    margin-bottom: 0;
}
.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    color: white;
    display: block;
    padding: 2px 0;
    font-size: 1.3rem;
}

.footer-item__link i {
    font-size: 1.6rem;
    color: black;
}
.footer-item-text {
    color: black;
}
.footer-item__link:hover {
    color: #e10747;
}

.footer-item__link--error {
    font-size: 1.8rem;
    color: rgb(187, 15, 15);
    font-weight: 900;
}

.footer__bottom {
    background-color: #f0f0f0;
    padding: 24px 0;
    margin-top: 24px;
}

.footer__text {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: #888;
}

/* .grid__row {
    margin: 0 4px;
} */






